<!-- <div class="container">

<form (ngSubmit) = "onSubmit()" #s ="ngForm">
    <div id="user-data" 
    ngModelGroup = "userData"
    #userData = "ngModelGroup">
  <div class = "form-group">
    <label for ="email"> Email</label>
    <input 
      type = "mail"
      class = "form-control"
      name = "email"
      required
      ngModel
      #email ="ngModel">
      <span *ngIf ="!email.valid && email.touched"> Please enter a valid email</span>
      </div>
      <div class = "form-group">
      <label for ="password"> Password</label>
    <input 
      type = "password"
      name = "password"
      class = "form-control"
      ngModel
      required
      pattern="^(?=[^\d_].*?\d)\w(\w|[!@#$%]){7,20}"
      #password ="ngModel">
      <span *ngIf ="!password.valid && password.touched && !password.pattern"> Please enter password
        <<ng-template #ref [ngIf] = "password.pattern">
        
          must be 8 character long with at least one character and one special character
          </ng-template> -->
      <!-- </span>
  
     </div>
     </div>
     <div class="form-group">
        <label for="secret">Choose anyone</label>
        <select id="secret"
         class="form-control"
         [ngModel] = 'question'
         name="secrect">
          <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
        </select>
      </div>
     <p *ngIf = "!userData.valid && userData.touched"> Please enter user data</p>
      <button class="btn btn-primary" type="submit">Submit</button> &nbsp;
      <button class="btn btn-primary" (click)= "Onreset()" *ngIf='!submitted'>Clear</button>

    </form>
  
  </div>
      <div class ='row' *ngIf='submitted' >
        <div class ='col-xs-12'>
          <h3> Email : {{detail.email}}</h3>
          <h3> Password : {{detail.password}}</h3>
          <h3>  : {{detail.secrect}}</h3>
        </div>
      </div>
      <router-outlet></router-outlet>
      
  --> 
<router-outlet></router-outlet>